# forEach
snippet fore "forEach" i
forEach(function( ${1:value}, ${2:index}){
		${0}
});
endsnippet

# Console.log
snippet clog "console.log"
console.log(${1})
endsnippet

# require('module')
snippet require "require('module')"
var $1 = require('${1:module_name}');
endsnippet
